<h1>Bots That Yell</h1>
<div>
	___ is an ActivityPub server which can provide you with a bot that yells. Simply by following any single character @___ (i.e. x@___ or 🐺@___), you'll receive a new exclamation of that character every two hours. Forever, you so desire!
</div>

<div>
	<%= form_with url: "/letters", method: :post do |form| %>
		<%= form.label :query, "Search for any character to see some of our offerings" %><br>
		<%= form.text_field :query, size: 1, maxlength: 1 %>
		<%= form.submit "Search" %>
	<% end %>
</div>